HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/logs/command-center.log.2022-12-05.0
/logs/debug-2022-12-05.0.log
/logs/debug-2022-12-10.0.log
/logs/error-2022-12-05.0.log
/logs/error-2022-12-10.0.log
/logs/gray-server-metrics.log.2022-12-05
/logs/gray-server-metrics.log.2022-12-05.idx
/logs/info-2022-12-05.0.log
/logs/info-2022-12-10.0.log
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties
/logs/sentinel-record.log.2022-12-05.0
/logs/sentinel-record.log.2022-12-10.0
/logs/warn-2022-12-05.0.log
/logs/warn-2022-12-10.0.log
